<h2>Películas de la semana</h2>
    <div class="list-wrapper" *ngIf="trendingMovies$ | async as trendingMovies">
        <div *ngFor="let movie of trendingMovies.results; let i=index">
            <app-main-item *ngIf="i <= 10" [itemType]="'movie'" [movie]="movie"></app-main-item>
        </div>
    </div>
<h2>Series de la semana</h2>
    <div class="list-wrapper" *ngIf="trendingSeries$ | async as trendingSeries">
        <div *ngFor="let serie of trendingSeries.results; let i=index">
            <app-main-item *ngIf="i <= 10" [itemType]="'serie'" [serie]="serie"></app-main-item>
        </div>
    </div>
