// Color palette
$color-3rd: #2B3A67;
$color-3rd-opacity: #2b3a67ab; 
$color-2nd: #496A81;
$color-1st: #AEC5EB;
$pink: #F9DEC9;
$melon: #E9AFA3;
$color-grey: #485258;

// item-related
$item-width: 180px;

// Episode-item related
$episode-item-img-width: 100%;

// layout
$footer-height: 150px;
$header-height: 100px;

// Bootstrap bp
$xxs: 399.99px;
$xs: 575.99px;
$sm: 767.99px;
$md: 991.99px;
$lg: 1199.99px;
$xl: 1399.99px;