// Color palette
$color-3rd: #2B3A67;
$color-2nd: #496A81;
$color-1st: #AEC5EB;
$pink: #F9DEC9;
$melon: #E9AFA3;
$color-grey: #485258;

// Popular-item-related
$popular-item-width: 120px;

// layout
$footer-height: 150px;
$header-height: 100px;