<div *ngIf="movie$ | async as movie">
    <div class="detail-backdrop" [style.backgroundImage]="backdropPath">
        <div class="detail-title">
            <h1 class="detail-title">{{movie.title}}</h1>
            <h4>{{movie.original_title}}</h4>
        </div>
    </div>
    <div class="detail-container">
        <div class="detail-poster-path-container"> 
            <img src="{{posterPath}}" alt="Poster de movie {{movie.title}}">
        </div>
        <div class="detail-info-container">
            <mat-chip-list class="genre-list">
                <mat-chip class="genre-chip" *ngFor="let genre of movie.genres">{{genre.name}}</mat-chip>
            </mat-chip-list>
            <div class="detail-line">
                <span class="detail-label">Reparto principal: </span>
                <span *ngFor="let actor of cast; let i=index">
                    <span *ngIf="i == 0">{{actor.name}}</span>
                    <span *ngIf="i == 1">, {{actor.name}} </span>
                    <span *ngIf="i == 2">y {{actor.name}}</span>
                </span>
            </div>
            <div class="detail-line">
                <span class="detail-label">Año: </span>
                <span>{{movie.release_date | date:'yyyy'}}</span>
            </div>
            <div class="detail-line">
                <span class="detail-label">Duración: </span>
                <span>{{movie.runtime}} minutos</span>
            </div>
            <div class="detail-line">
                <span class="detail-label">Rating: </span>
                <span>{{movie.vote_average}}</span>
            </div>
            <div class="detail-line" *ngIf="hasWebPage">
                <a class="link" href="{{movie.homepage}}" target="_blank">Sitio Web<mat-icon class="icon">open_in_new</mat-icon></a>
            </div>
            <div class="detail-overview-container">
                <p>{{movie.overview}}</p>
            </div>
        </div>
    </div>   
</div>
