<div class="header">
    <div class="logo-box" routerLink="" routerLinkActive="active">
        <img src="../../../../assets/images/charliefenz-movie-db-logo.png" alt="Charliefenz Movies & Series Logo" width="200px">
    </div>
    <div class="action-menu">
        <div class="menu-button" routerLink="movies" routerLinkActive="active">Pelis</div>
        <div class="menu-button" routerLink="series" routerLinkActive="active">Series</div>
    </div>
    <app-search-bar [clickOutsideSearch]="clickOutsideSearch" class="search-bar">
    </app-search-bar>
</div>
