<div class="header container-fluid">
    <div class="row align-items-center">
        <div class="action-menu col-12 col-sm-10">
            <div class="logo-box"><img src="../../../../assets/images/charliefenz-movie-db-logo.png" alt="Charliefenz Movies & Series Logo" width="200px"></div>
            <a routerLink="">Pelis</a>
            <a routerLink="">Series</a>
        </div>
        <div class="action-search cursor-pointer col-12 col-sm-2">
            <mat-icon>search</mat-icon>
        </div>
    </div>
</div>
