@import 'src/app/common/variables.scss';

:host {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group, .example-full-width {
    width: 100%;
}

@media screen and (max-width: $xs) {
    form {
        width: 80%;
    }   
}

@media screen and (max-width: $sm) {
    form {
        width: 60%;
    }   
}