@import 'src/app/common/variables.scss';

:host {

    .footer {
        height: $footer-height;
        background-color: $color-grey;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.9em;
    }

}