@import 'src/app/common/variables.scss';

:host {
    height: 100%;
}

.search-result-container, .spinner, .spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-wrapper {
    height: 100%;
}

.search-result-container {
    width: 100%;

    .no-return {
        p {
            color: $color-2nd;
            font-weight: 500;
            font-size: 1.8em;
            text-align: center;
            padding: 10px;
            line-height: 1.5em;
        }
    }

    .grid {
        display: flex;
        justify-content: center;
    }
}