@import 'src/app/common/variables.scss';

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .no-return {
        p {
            color: $color-2nd;
            font-weight: 500;
            font-size: 1.8em;
            text-align: center;
            padding: 10px;
            line-height: 1.5em;
        }
    }

    .grid {
        display: flex;
        justify-content: center;
    }
}