<h2>Temporada {{seasonNumber}}</h2>
<div *ngIf="season$ | async as season">
    <div class="detail-line">
        <span class="detail-label">Fecha de estreno: </span>
        <span>{{season.air_date | date: 'dd/MM/YYYY'}}</span>
    </div>
    <div class="detail-line">
        <span class="detail-label">Nro. Episodios: </span>
        <span>{{season.episodes.length}}</span>
    </div>
    <div class="episode-list container-fluid">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-3 col-lg-2" *ngFor="let episode of season.episodes">
                <app-episode-item *ngIf="!episode.name.includes('Episodio') && episode.still_path !== null" [episode]="episode"></app-episode-item>
            </div>
        </div>
    </div>
</div>
