<div class="search-bar-wrapper">
    <mat-icon id="search-icon" class="color-white" *ngIf="!inputSearch" (click)="openSearch()">search</mat-icon>
    <mat-form-field *ngIf="inputSearch" class="example-form-field" floatLabel="never" focused="true">
        <input ngModel appFocus name="searchInput" #searchInput="ngModel" id="search-input" matInput type="text" [(ngModel)]="valueToSearch" (keyup.enter)="search()" autocomplete="off" (keyup.escape)="closeSearch()">
        <button matSuffix mat-icon-button aria-label="Clear" (click)="closeSearch()">
            <mat-icon class="color-white">close</mat-icon>
        </button>
    </mat-form-field>
</div>