:host {
    .popular-item-card {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .popular-item, .popular-item-title {
        font-size: 0.8em;
        margin: 0 5px;
    }
}