:host {
    // bootstrap width breakpoints
    $xs: 575.98px;
    $sm: 767.98px;
    $md: 991.98px;
    $lg: 1199.98px;
    
    // variables for equal img heights depending on bootstrap width breakpoints
    $img-width-xlg: 175.99px * 1.5;
    $img-width-lg: 116px * 1.5;
    $img-width-md: 136px * 1.5;
    $img-width-sm: 136px * 1.5;
    $img-width-xs: 276px * 1.5;

    .card-item {
        display: flex;
        flex-direction: column;
        margin: 10px;
        background-color: #496A81;
        padding: 0;
    }
    
    .img-container {
        width: 100%;
    }
    
    .poster-image {
        width: 100%;
        height: 250.96px;
        overflow-y: hidden;
        
        
        /* @media screen and (max-width:575px) {
            height: 1000px;
        }
        @media screen and (max-width:767px) {
            height: $img-width-sm;
        }
        @media screen and (max-width:991px) {
            height: $img-width-md;
        }
        @media screen and (max-width:1199px) {
            height: $img-width-lg;
        } */
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .left, .right {
        width: 50%;
        padding: 0 10px;
    }

    .top {
        display: flex;
    }

    .bottom {
        width: 100%;
    }

    

    .shorted-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .plain-link {
        color: white;
        cursor: pointer;
        text-decoration: underline;
    }

    .genres {
        margin-bottom: 10px;
    }
}